*{

    padding: 0;
    margin: 0;
}

div{

    border: 3px solid #999;
    width: 400px;
    height: 200px;
    margin: 30px auto;
    padding: 30px;
    outline: 4px solid tomato;
    outline-offset: 10px;
}