/*  All Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  
    1. background-color: color name;
                             hex; 
                             rgb();
                             hsl();
                             rgba();
                             hsla();
    2. background-image: url();
    3. background-repeat: repeat-x,
                       repeat-y;
                       no-repat;
    4. background-position: left top,
                            right top,
                            center top,
                            center center,
                            left bottom,
                            center bottom,
                            right bottom;
    5. background-size: 100% 100%,
                        conver,
                        contain;
    6. background-attachment: scroll,
                              fixed;
    7. background-origin: border-box,
                          content-box,
                          padding-box;
    8. background-clip: border-box,
                        content-box,
                        padding-box;

    short-hand
    * background: color image position/size repeat orgin clip attachment;
*/

div{

    height: 500px;
    width: 500px;
    background-color: rgba(255,255,0,.5);
    //opacity: .5;
    margin:20px auto;
    border: 20px dotted #f00;
    padding: 80px;

    /* background-image: url(https://ogden_images.s3.amazonaws.com/www.observertoday.com/images/2020/08/29003327/SUNSET-579x840.jpg); */

    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    //background-origin: content-box;

    background-clip: border-box;





}