*{

    padding: 0;
    margin: 0;
    font-size: 1.3rem;
}

div{

    font-size: 2rem;
    color: tomato;
    letter-spacing: 5px;
    text-align: justify;
}

/* p{
    direction: rtl;
} */

h4{

    border: 1px solid red;
    padding: 20px 0;
    text-align: left;
}

p{
    font-size: 1.3rem;
    line-height: 50px;
    //text-indent: 70px;
    width: 400px;
    border: 1px solid;
    margin: 20px auto;
    text-align: justify;
    word-spacing: 30px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

b{
    text-decoration: none;
    text-transform: capitalize;
}

h2{

    text-align: center;
    letter-spacing: 4px;
    font-size: 2rem;
    font-family: sans-serif;
    text-shadow: 3px 5px 5px #333;
}

span{
    vertical-align: sub;
}

em{

    vertical-align: super;
}