@font-face{

    font-family: myfont;
    src: url(../font/Nerko_One/NerkoOne-Regular.ttf);


}

h3{

    font-size: 2rem;
    font-family: myfont;
    font-style: oblique;
    font-variant: small-caps;
}

p{

    font-size: 1.5rem;
    font-weight: bolder;
}